<header tuiHeader class="m-1">
  <h1 tuiTitle>
    <div class="col-12 d-flex">
      <span>Formularios</span>
      <p class="count">{{ form.length }} formularios </p>
    </div>
  </h1>
  <aside tuiAccessories>
    <div tuiAppearance="secondary" tuiButtonGroup>
      <a class="btn-add" routerLink="/dashboard/form/crear">
        <mat-icon>add_circle</mat-icon>
        Crear form
      </a>
    </div>
  </aside>
</header>

<section class="table-container">
  <!-- Tabs -->
  <div class="col-12 row ">
    <div class="col-6">
      <div class="tabs">
        <button [ngClass]="{'active' : idicadorActive}" (click)="cambiarStatus(1)">Activos</button>
        <button [ngClass]="{'active' : idicadorActive == 0}" (click)="cambiarStatus(0)">Inactivos</button>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <!-- Buscador y filtro -->
      <div class="actions">
        <div class="search-box m-1">
          <mat-icon>search</mat-icon>
          <input #searchInput type="text" placeholder="Buscar..." (input)="onSearch(searchInput.value)" />
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla -->
  <table class="custom-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th class="text-center">Acción</th>
      </tr>
    </thead>
    <tbody>
      @for (item of paginatedUsers; track $index) {
      <tr>
        <td>{{ ($index + 1) + (currentPage - 1) * pageSize }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>
          <mat-slide-toggle [checked]="item.status === 1" (change)="logical($event, item.id)"></mat-slide-toggle>
        </td>
        <td class="actions-col">
          <button mat-icon-button (click)="modalCommand('Editar grado')">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button [swal]="{
            title: 'Confirmacion',
            text: '¿Deseas borrar este registro?',
            showCancelButton: true
          }" (confirm)="deleteRegister(item.id)">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Paginación -->
  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
      &lt;
    </button>

    <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="changePage(i + 1)"
      [class.active]="currentPage === i + 1">
      {{ i + 1 }}
    </button>

    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
      &gt;
    </button>
  </div>
</section>

<ng-template let-observer [tuiDialogOptions]="{label: titleForm, size: 'm'}" [(tuiDialog)]="open">
  <!-- Aquí puedes agregar el formulario del form cuando lo tengas -->
</ng-template>