<div class="container py-4">
  <h3 class="page-title text-center mb-4">Registro diario de agenda</h3>

  @if (listGroupDirector.length) {
    <div class="cursos-grid">
      @for (curso of listGroupDirector; track curso.id) {

        <!-- (click)="curso.agendaOperation && seleccionarCurso(curso)" -->
        <mat-card 
          class="curso-card" 
          [class.disabled]="curso.agendaState == 2 || curso.agendaId == null"
          (click)="activarAgenda(curso)"
        >
          <mat-card-header>
            <div mat-card-avatar class="curso-avatar">
              {{ curso.nameGroup[0] || 'G' }}
            </div>

            <mat-card-title class="curso-title">
              {{ curso.nameGroup }} - {{ curso.nameGrade }}
            </mat-card-title>

            <mat-card-subtitle class="curso-subtitle">
              @if (curso.agendaState == 1) {
                <span class="estado abierto">
                  <mat-icon fontIcon="lock_open"></mat-icon> Agenda abierta
                </span>
              } @else if(curso.agendaState == 2){
                <span class="estado cerrado">
                  <mat-icon fontIcon="lock"></mat-icon> Agenda cerrada
                </span>

              }@else if (curso.agendaId == null) {
                <span class="estado cerrado">
                  <mat-icon>assignment_late</mat-icon> El grupo no tiene agenda asignada
                </span>
              }
              @else {
                <span class="estado cerrado">
                  <mat-icon>play_arrow</mat-icon> Abrir agenda
                </span>
              }
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p class="mb-1">
              <span class="label">Estudiantes:</span>
              <span class="value">{{ curso.amountStudents }}</span>
            </p>
          </mat-card-content>

          @if (curso.agendaState == 1) {
            <mat-icon class="arrow-icon" matTooltip="Registra la agenda" (click)="registroAgenda(curso)">chevron_right</mat-icon>
          }
        </mat-card>

      }
    </div>
  } @else {
    <div class="text-center text-muted py-5">
      <mat-icon fontIcon="group_off" class="empty-icon"></mat-icon>
      <p class="mt-3 mb-0">No hay grupos asignados.</p>
    </div>
  }
</div>

