
<div class="col-12 row">
    <div class="col-12 text-center">
       <h6>{{ modalInfo.title }}</h6>
       <p class="text-muted small">{{ modalInfo.descripcion }}</p>
   </div>
    
    <form [formGroup]="form" (submit)="emitirData()">
        <div class="col-md-12 p-1">
            <tui-textfield>
                <label tuiLabel> Enunciado de la pregunta </label>
                <input
                    tuiTextfield
                    [formControl]="form.controls.text"
                />
            
            </tui-textfield>
        </div>
        

        <div class="col-md-12 p-1">
            <tui-textfield tuiChevron [stringify]="tipoRespuestafy">
                <input tuiSelect [formControl]="form.controls.typeAnswerId" placeholder="Tipo de respuesta"/>
        
                <tui-data-list *tuiTextfieldDropdown>
                    @for (item of tipoRespuesta; track $index) {
                        <button
                            new
                            tuiOption
                            type="button"s
                            [value]="item.id"
                        >
                            {{ item.name }}
                        </button>
                    }
                </tui-data-list>
            </tui-textfield>

        </div>
        <div>
            <button mat-button type="submit" [disabled]="form.invalid">{{ modalInfo.titleButton }}</button>
        </div>
    </form>
    
</div>


 
