
<div class="flex-grow-1 box-outline topbar d-flex align-items-center px-3">
  <!-- <input type="text" class="form-control form-control-sm" placeholder="Buscar…"> -->

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="salirSesion()">
      <mat-icon>exit_to_app</mat-icon>
      Cerrar sesión</button>
  </mat-menu>
  
</div>

<!-- <mat-toolbar class="rounded-4 ms-4 shadow">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="tolbar-spacer">
      <tui-avatar [matMenuTriggerFor]="menu" src="@tui.user" />
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="salirSesion()">
          <mat-icon>exit_to_app</mat-icon>
          Cerrar sesión</button>
      </mat-menu>
    </div>   
</mat-toolbar>  -->