<div class="col-12 row">
    <div class="col-12 text-center">
       <h6>{{ modalInfo.title }}</h6>
       <p class="text-muted small">{{ modalInfo.descripcion }}</p>
   </div>
    
    <form [formGroup]="form" (submit)="createPerson()">
        <div class="row m-3">
            <div class="col-md-6 p-1">
                <tui-textfield>
                    <label tuiLabel> Primer nombre *</label>
                    <input
                        tuiTextfield
                        [formControl]="form.controls.fisrtName"
                    />
                
                </tui-textfield>
            </div>
            <div class="col-md-6 p-1">
                <tui-textfield>
                    <label tuiLabel> Segundo nombre </label>
                    <input
                        tuiTextfield
                        [formControl]="form.controls.secondName"
                    />
                
                </tui-textfield>
            </div>
            <div class="col-md-6 p-1">
                <tui-textfield>
                    <label tuiLabel> Primer apellido</label>
                    <input
                        tuiTextfield
                        [formControl]="form.controls.lastName"
                    />
                
                </tui-textfield>
            </div>
            <div class="col-md-6 p-1">
                <tui-textfield>
                    <label tuiLabel>  Segundo apellido</label>
                    <input
                        tuiTextfield
                        [formControl]="form.controls.secondLastName"
                    />
                
                </tui-textfield>
            </div>

            @if(isUser){
                <div class="col-md-6 p-1">
                    <tui-textfield>
                        <label tuiLabel>Correo Electronico *</label>
                        <input
                            tuiTextfield
                            [formControl]="form.controls.email"
                        />
                    
                    </tui-textfield>
                </div>
            }

            <div class="col-md-6 p-1">
                <tui-textfield tuiChevron [stringify]="tipoDocumento">

                    <input tuiSelect [formControl]="form.controls.documentTypeId" placeholder="Tipo documento"/>
                
                    <tui-data-list *tuiTextfieldDropdown>
                        @for (item of documentTypeList; track $index) {
                            <button
                                new
                                tuiOption
                                type="button"s
                                [value]="item.id"
                            >
                                {{ item.name }}
                            </button>
                        }
                    </tui-data-list>
                </tui-textfield>

            </div>
            <div class="col-md-6 p-1">

                <tui-textfield>
                    <label tuiLabel>N° identificación</label>
                    <input
                        tuiInputNumber
                        [formControl]="form.controls.identification"
                    />
                
                </tui-textfield>
            </div>
            <div class="col-md-6 p-1" >
                <tui-textfield>
                    <label tuiLabel>Telefono *</label>
                    <input
                        tuiInputNumber
                        [formControl]="form.controls.phone"
                    />
                
                </tui-textfield>
            </div>

            <div class="col-md-6 p-1">

                <tui-textfield tuiChevron [stringify]="generofy">

                    <input tuiSelect [formControl]="form.controls.gender" placeholder="Genero"/>
                
                    <tui-data-list *tuiTextfieldDropdown>
                        @for (item of generos; track $index) {
                            <button
                                new
                                tuiOption
                                type="button"s
                                [value]="item.id"
                            >
                                {{ item.name }}
                            </button>
                        }
                    </tui-data-list>
                </tui-textfield>
                
            </div>

            <!--  ================================= datos de databasic =================================   -->

            <div class="col-md-6 p-1">

                <tui-textfield>
                    <label tuiLabel>Dirección *</label>
                    <input
                        tuiTextfield
                        [formControl]="form.controls.adress"
                    />
                
                </tui-textfield>

                @if(form.controls.adress.invalid && form.controls.adress.touched){
                    <tui-error
                        [error]="ObtenerErrorCampoAndres()"
                    />
                }

            </div>

            <div class="col-md-6 p-1">
                <tui-textfield
                    tuiChevron
                    [stringify]="departamentofy"
                    (valueChange)="cargarMunicipio()"
                >
                    <input
                        tuiSelect
                        [formControl]="form.controls.departamentId"
                        placeholder="Departamento"

                    />
                
                    <tui-data-list *tuiTextfieldDropdown>
                        <button
                            *ngFor="let item of departaments"
                            new
                            tuiOption
                            type="button"
                            [value]="item.id"
                        >
                            {{ item.name }}
                        </button>
                    </tui-data-list>
                </tui-textfield>
            </div>

            <div #inputMunicaplity class="col-md-6 p-1">
                <tui-textfield
                    tuiChevron
                    [stringify]="municipiofy"
                >
                    <input
                        tuiSelect
                        [formControl]="form.controls.munisipalityId"
                        placeholder="Municipio"
                    />
                
                    <tui-data-list *tuiTextfieldDropdown>
                        <button
                            *ngFor="let item of municipality"
                            new
                            tuiOption
                            type="button"
                            [value]="item.id"
                        >
                            {{ item.name }}
                        </button>
                    </tui-data-list>
                </tui-textfield>
            </div>


            <div class="col-md-6 p-1">

                <tui-textfield>
                    <label tuiLabel>Fecha de nacieminto</label>
                    <input
                        tuiInputDate
                        [formControl]="form.controls.brithDate"
                    />
                    <tui-calendar *tuiTextfieldDropdown />
                </tui-textfield>

            </div>
            
            <div class="col-md-6 p-1">

                <tui-textfield tuiChevron [stringify]="rhfy">
                    <input tuiSelect [formControl]="form.controls.rhId" placeholder="rh"/>
                
                    <tui-data-list *tuiTextfieldDropdown>
                        @for (item of rhList; track $index) {
                            <button
                                new
                                tuiOption
                                type="button"
                                [value]="item.id"
                            >
                                {{ item.name }}
                            </button>
                        }
                    </tui-data-list>
                </tui-textfield>

            </div>

            <div class="col-md-6 p-1">
                <tui-textfield tuiChevron [stringify]="estadocivilfy">
                    <input tuiSelect [formControl]="form.controls.materialStatusId" placeholder="Estado civil"/>
                
                    <tui-data-list *tuiTextfieldDropdown>
                        @for (item of statusCivil; track $index) {
                            <button
                                new
                                tuiOption
                                type="button"
                                [value]="item.id"
                            >
                                {{ item.name }}
                            </button>
                        }
                    </tui-data-list>
                </tui-textfield>

            </div>

            <div class="col-md-6 p-1">

                <tui-textfield tuiChevron [stringify]="epsfy">
                    <input tuiSelect [formControl]="form.controls.epsId" placeholder="Eps"/>
                
                    <tui-data-list *tuiTextfieldDropdown>
                        @for (item of epsList; track $index) {
                            <button
                                new
                                tuiOption
                                type="button"
                                [value]="item.id"
                            >
                                {{ item.name }}
                            </button>
                        }
                    </tui-data-list>
                </tui-textfield>
            </div>

            <div class="col-md-6 p-1" >
                <mat-checkbox class="example-margin" [formControl]="form.controls.stratumStatus" >Tiene sisben</mat-checkbox>
            </div>
        </div> 
        <div>
            <button mat-button type="submit" [disabled]="form.invalid">{{ modalInfo.titleButton }}</button>
        </div>
    </form>
    
</div>


 