<div class="col-12 row">
    
    <form [formGroup]="form" (submit)="createPerson()">
        <div class="row m-3">
            <div class="col-md-6 p-1">
                <tui-input tuiAutoFocus [formControl]="form.controls.fisrtName">
                    Primer nombre *
                </tui-input>
            </div>
            <div class="col-md-6 p-1">
                <tui-input tuiAutoFocus [formControl]="form.controls.secondName">
                    Segundo nombre
                </tui-input>
            </div>
            <div class="col-md-6 p-1">
                <tui-input tuiAutoFocus [formControl]="form.controls.lastName">
                    Primer apellido *
                </tui-input>
            </div>
            <div class="col-md-6 p-1">
                <tui-input tuiAutoFocus [formControl]="form.controls.secondLastName">
                    Segundo apellido
                </tui-input>
            </div>
            <div class="col-md-6 p-1">
                <tui-input tuiAutoFocus [formControl]="form.controls.email">
                    Correo Electronico *
                </tui-input>
            </div>
            <div class="col-md-6 p-1">
                <tui-select
                    #select
                    [formControl]="form.controls.documentTypeId"
                    [stringify]="idToName"
                    [tuiTextfieldLabelOutside]="true"
                >
                    Tipo documento
                    <tui-data-list *tuiDataList>
                        <tui-opt-group>
                            @for (item of documentTypeList; track $index) {
                                <button
                                    tuiOption
                                    type="button"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </button>
                            }
                        </tui-opt-group>
                    </tui-data-list>
                </tui-select>
            </div>
            <div class="col-md-6 p-1">
                <tui-input-number [formControl]="form.controls.identification">
                    N° identificación
                </tui-input-number>
            </div>
            <div class="col-md-6 p-1" >
                <tui-input-number [formControl]="form.controls.phone">
                    Telefono *
                </tui-input-number>
            </div>

            <div class="col-md-6 p-1">
                <tui-select
                    #select
                    [formControl]="form.controls.gender"
                    [stringify]="idToNameGender"
                    [tuiTextfieldLabelOutside]="true"
                >
                    Genero
                    <tui-data-list *tuiDataList>
                        <tui-opt-group>
                            @for (item of generos; track $index) {
                                <button
                                    tuiOption
                                    type="button"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </button>
                            }
                        </tui-opt-group>
                    </tui-data-list>
                </tui-select>
            </div>

            <!--  ================================= datos de databasic =================================   -->

            <div class="col-md-6 p-1">
                <tui-input type="text" tuiAutoFocus [formControl]="form.controls.adress">
                    Dirección
                </tui-input>

                @if(form.controls.adress.invalid && form.controls.adress.touched){
                    <tui-error
                        [error]="ObtenerErrorCampoAndres()"
                    />
                }
                <!-- <mat-error>{{ ObtenerErrorCampoAndres() }}</mat-error> -->
            </div>
            
            <div class="col-md-6 p-1">
                <tui-select
                    #select
                    [formControl]="form.controls.departamentId"
                    [stringify]="idToNameDepartament"
                    [tuiTextfieldLabelOutside]="true"
                    (tuiValueChange)="cargarMunicipio()"
                >
                    Departamento de residencia
                    <tui-data-list *tuiDataList>
                        <tui-opt-group>
                            @for (item of departaments; track $index) {
                                <button
                                    tuiOption
                                    type="button"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </button>
                            }
                        </tui-opt-group>
                    </tui-data-list>
                </tui-select>
            </div>

            
            <div class="col-md-6 p-1">
                <tui-select
                    #select
                    [formControl]="form.controls.munisipalityId"
                    [stringify]="idToNameMunicipality"
                    [tuiTextfieldLabelOutside]="true"
                >
                    Municipio de residencia
                    <tui-data-list *tuiDataList>
                        <tui-opt-group>
                            @for (item of municipality; track $index) {
                                <button
                                    tuiOption
                                    type="button"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </button>
                            }
                        </tui-opt-group>
                    </tui-data-list>
                </tui-select>
            </div>

            <div class="col-md-6 p-1">
                <tui-input-date tuiUnfinishedValidator="Finish filling the field" formControlName="brithDate">
                    Fecha de naciemiento
                </tui-input-date>
            </div>
            
            <div class="col-md-6 p-1">
                <tui-select
                    #select
                    [formControl]="form.controls.rhId"
                    [stringify]="idToNameRh"
                    [tuiTextfieldLabelOutside]="true"
                >
                    Rh
                    <tui-data-list *tuiDataList>
                        <tui-opt-group>
                            @for (item of rhList; track $index) {
                                <button
                                    tuiOption
                                    type="button"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </button>
                            }
                        </tui-opt-group>
                    </tui-data-list>
                </tui-select>
            </div>

            <div class="col-md-6 p-1">
                <tui-select
                    #select
                    [formControl]="form.controls.materialStatusId"
                    [stringify]="idToNameStatus"
                    [tuiTextfieldLabelOutside]="true"
                >
                    Estado civil
                    <tui-data-list *tuiDataList>
                        <tui-opt-group>
                            @for (item of statusCivil; track $index) {
                                <button
                                    tuiOption
                                    type="button"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </button>
                            }
                        </tui-opt-group>
                    </tui-data-list>
                </tui-select>
            </div>

            <div class="col-md-6 p-1">
                <tui-select
                    #select
                    [formControl]="form.controls.epsId"
                    [stringify]="idToNameEps"
                    [tuiTextfieldLabelOutside]="true"
                >
                    Eps
                    <tui-data-list *tuiDataList>
                        <tui-opt-group>
                            @for (item of epsList; track $index) {
                                <button
                                    tuiOption
                                    type="button"
                                    [value]="item.id"
                                >
                                    {{ item.name }}
                                </button>
                            }
                        </tui-opt-group>
                    </tui-data-list>
                </tui-select>
            </div>

            <div class="col-md-6 p-1" >
                <mat-checkbox class="example-margin" [formControl]="form.controls.stratumStatus" >Tiene sisben</mat-checkbox>
            </div>
        </div> 
        <div>
            <button mat-button type="submit" [disabled]="form.invalid">{{ actionDescriptio}}</button>
        </div>
    </form>
    
</div>


 