<header>

  <div class="col-12">
    <div class="row">
      <div class="col-md-10">
        <!-- <div class="col-4 row"> -->
        <div class="container-duo">
          <h1 class="titulo-tabla">Todos</h1>
          <p class="count">{{ persons?.length }} personas </p>
        </div>
        <!-- </div> -->
      </div>
      <div class="col-md-2">
        <div tuiAppearance="secondary" tuiButtonGroup (click)="modalCommand('Registrar')">
          <a class="btn-add">
            <!-- routerLink="/dashboard/todos/crear" -->
            <mat-icon>add_circle</mat-icon>
            Crear persona
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <!-- <aside tuiAccessories> -->
    <div class="col-12 row ">
      <div class="col-6 p-2">
        <div class="tabs">
          <button [ngClass]="{'active' : idicadorActive}" (click)="cambiarStatus(1)">Activos</button>
          <button [ngClass]="{'active' : idicadorActive == 0}" (click)="cambiarStatus(0)">Inactivos</button>
        </div>
      </div>

      <div class="col-6 d-flex justify-content-end p-2">
        <!-- Buscador y filtro -->
        <div class="actions">
          <div class="search-box m-1">
            <mat-icon>search</mat-icon>
            <input #searchInput type="text" placeholder="Buscar..." (input)="onSearch(searchInput.value)" />
          </div>
          <!-- <button class="filter-btn">
              <mat-icon>filter_list</mat-icon> Filter
            </button> -->
        </div>
      </div>
    </div>

  </div>

</header>


<app-listado-generico [elements]="persons">
  <ng-container contenido>
    <section class="table-container">


      <!-- Tabla -->
      <table class="custom-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Tipo</th>
            <th>Identificación</th>
            <th>Teléfono</th>
            <th>Status</th>
            <th class="text-center">Acción</th>
          </tr>
        </thead>
        <tbody>
          @for (item of paginatedPersons; track item.id) {
          <tr>
            <td>{{ ($index + 1) + (currentPage - 1) * pageSize }}</td>
            <td>{{ item.fisrtName}} {{ item.secondName }}</td>
            <td>{{ item.lastName }} {{ item.secondLastName }}</td>
            <td>{{ item.acronymDocument }}</td>
            <td>{{ item.identification }}</td>
            <td>{{ item.phone }}</td>
            <td>
              <mat-slide-toggle [checked]="item.status === 1" (change)="logical($event, item.id)"></mat-slide-toggle>
            </td>
            <td class="actions-col">
              <button mat-icon-button (click)="modalCommand('Editar persona', item.id)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button [swal]="{
            title: 'Confirmacion',
            text: '¿Deseas borrar este registro?',
            showCancelButton: true
          }" (confirm)="deleteRegister(item.id)">
                <mat-icon>delete</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>

      <!-- Paginación -->
      <div class="pagination" *ngIf="totalPages > 1">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
          &lt;
        </button>

        <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="changePage(i + 1)"
          [class.active]="currentPage === i + 1">
          {{ i + 1 }}
        </button>

        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
          &gt;
        </button>
      </div>
    </section>
  </ng-container>
</app-listado-generico>


<!-- ========================================== modal ========================================== -->
<ng-template let-observer [tuiDialogOptions]="{label: titleForm, size: 'l'}" [(tuiDialog)]="open">
  <!-- <app-enitdad-generico [elements]="model">
      <ng-container contenido> -->
  <app-form-todos [actionDescriptio]="titleForm" [model]="model" (posteoForm)="handleEpsSubmit($event)">
  </app-form-todos>

  <!-- Botón para cerrar modal -->
  <div class="modal-actions mt-3">
    <!-- <button type="button" mat-stroked-button (click)="closeModal()">
                Cancelar
            </button> -->
  </div>
  <!-- </ng-container>
  </app-enitdad-generico> -->


</ng-template>