/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #000928;
    --second:  #ffffff10;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a{
    text-decoration: none;
}


.container-app{
    height: 100vh;
}